html{
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-header{
  color: #293264;
  font-size: 31.25px;
  text-align: center;
  margin-bottom: 20px;
}

.desc{
  color: #293264;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
}

.start-quiz{
  background-color: #4D5B9E;
  width: 193px;;
  height: 52px;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 16px
}

.start-quiz:hover{
  box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, 0.1)
}


.blue-blob {
  position: absolute;
  left: -10%;
  bottom: -5%;
  width: 400px;
  height: 300px;
  background-color: #DEEBF8;  /* Light blue */
  border-radius: 50% 50% 0 50% / 60% 60% 0 60%;  /* Asymmetrical blob-like shape */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);   /* Soft shadow */
  opacity: 0.5; /* Optional: mimic light look */
  z-index: -1;
}


.yellow-blob{
  position: absolute;
  right: -5%;
  top: -5px;
  width: 300px;
  height: 200px
}